body {
    font-family: theme('fontFamily.--baseText-fontFamily');
    font-size: theme('fontSize.--baseText-fontSize');
    font-weight: theme('fontWeight.--baseText-fontWeight');
    line-height: theme('lineHeight.--baseText-lineHeight');
    letter-spacing: theme('letterSpacing.--baseText-letterSpacing');

    color: theme('colors.--baseText-color');
    background-color: theme('backgroundColor.--base-backgroundColor');
}


.scroll-variant-thin::-webkit-scrollbar-thumb {
    background: transparent;
}

.scroll-variant-thin::-webkit-scrollbar-thumb {
    background-color: var(--scrole-color);
    border-radius: 10px;
    border: 2px solid var(--base-backgroundColor);
}

.scroll-variant-thin::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-hover);
}

.scroll-variant-thin::-webkit-scrollbar-thumb:hover {
    border: 0;
}

.scroll-variant-thin::-webkit-scrollbar:hover {
    width: 7px;
}

.scroll-variant-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-variant-thin::-webkit-scrollbar-track:hover {
    background: transparent;
}

.scroll-variant-thin::-webkit-scrollbar {
    height: 8px;
    width: 7px;
}