/* Default to light mode */

/*
s.zhitenev@finmars.com
2024-05-14
*/

/* General usage variables

 --[?special]-[?state]-[styleProperty]
 always kebab-case
 variable [segment] mast be camelCase
 [?segment] is optional
 [?special] - e.g. light, activeState, onPrimary
*/

/* Component specific variables

 --[component]-[?type]-[?state]-[styleProperty]
 always kebab-case for pieces of variable
 variable [segment] mast be camelCase
 [?segment] is optional

*/

/* Light mode variables */
:root {
    --primary-color-nums: 143, 76, 54;
    --primary-color: rgb(var(--primary-color-nums));
    --on-primary-color: #FFFFFF;

    --secondary-color-nums: 103, 80, 164;
    --secondary-color: rgb(var(--secondary-color-nums));
    --on-secondary-color: #8F4C36; /* NEW */

    --disabled-backgroundColor-nums: 29, 27, 32;
    --disabled-backgroundColor: rgb(var(--disabled-backgroundColor-nums));
    --disabled-text-color: rgb(171, 163, 161);

    --base-text-color: #231917; /* NEW */ /* default color for every text in finmars figma_keyword=surface */
    --base-heading-color: #53433F; /* NEW */ /* h1-h6 */
    --base-background-color: #FFFFFF; /* NEW */ /* body, page */

    --container-background-color: #F7E4DF; /* NEW */ /* dropdowns, menu */
    --table-header-background-color: #FFF1ED; /* NEW */ /* table-header */

    --active-state-background-color: #FFDBD0; /* NEW */
    --active-state-color: #2C160E; /* NEW */

    --border-color: #85736E; /* NEW */ /* button borders, segments, inputs, dividers figma_keyword=outline  */
    --border-color-light: #D8C2BC; /* NEW */ /* cards, tables, */

    --hover-opacity: 0.92; /* NEW */
    --focus-opacity: 0.88; /* NEW */
    --pressed-opacity: 0.88; /* NEW */
    --disabled-opacity: 0.12; /* NEW */
    --error-color: #BA1A1A; /* NEW */

    --text-hover-opacity: 0.08; /* NEW */
    --text-focus-opacity: 0.12; /* NEW */

    --button-text-color: var(--on-secondary-color);
    --button-text-disabled-color: var(--disabled-text-color);
    --button-text-backgroundColor: initial;
    --button-text-hover-backgroundColor: rgba(var(--secondary-color-nums), var(--text-hover-opacity));
    --button-text-focus-backgroundColor: rgba(var(--secondary-color-nums), var(--text-focus-opacity));
    --button-text-pressed-backgroundColor: rgba(var(--secondary-color-nums), var(--text-focus-opacity));
    --button-text-disabled-backgroundColor: initial;

    --button-filled-color: var(--on-primary-color);
    --button-filled-disabled-color: var(--disabled-text-color);
    --button-filled-backgroundColor: var(--primary-color);
    --button-filled-hover-backgroundColor: rgba(var(--primary-color-nums), var(--hover-opacity));
    --button-filled-focus-backgroundColor: rgba(var(--primary-color-nums), var(--focus-opacity));
    --button-filled-pressed-backgroundColor: rgba(var(--primary-color-nums), var(--pressed-opacity));
    --button-filled-disabled-backgroundColor: rgba(var(--disabled-backgroundColor-nums), var(--disabled-opacity));

}

/* Switch to dark mode when .dark-mode class is present on body */
body.dark {
    background-color: rgba(26, 17, 15, 1);

    --primary-color-nums: 255, 181, 157;
    --primary-color: rgb(var(--primary-color-nums));
    --onPrimary-color: #55200D;

    --secondary-color-nums: 208, 188, 255;
    --secondary-color: rgb(var(--secondary-color-nums));
    --onSecondary-color: #FFB59D;

    --disabled-backgroundColor-nums: 230, 224, 233;
    --disabled-backgroundColor: rgb(var(--disabled-backgroundColor-nums));
    --disabled-text-color: rgb(123, 110, 108);

    --baseText-color: #F1DFDA; /* NEW */ /* default color for every text in finmars */
    --baseHeading-color: #D8C2BC; /* NEW */ /* h1-h6 */
    --baseBackground-color: #1A110F; /* NEW */ /* body, page figma_keyword=surface */

    --container-backgroundColor: #271D1B; /* NEW */ /* dropdowns, menu */
    --activeState-backgroundColor: #5D4036; /* NEW */
    --activeState-color: #FFDBD0; /* NEW */

    --border-color: #A08D87; /* NEW */ /* button borders, segments, inputs, dividers  figma_keyword=outline */
    --light-border-color: #D8C2BC; /* NEW */ /* cards, tables, figma_keyword=outline */

    --hover-primary-color: rgba(255, 181, 157, var(--hover-opacity));
    --hover-primary-backgroundColor: rgba(255, 181, 157, var(--hover-opacity));


    --filled-pressed-opacity: 0.88; /* NEW */
    --filled-hover-opacity: 0.92; /* NEW */
    --filled-focus-opacity: 0.88; /* NEW */

    --text-hover-opacity: 0.08; /* NEW */
    --text-focus-opacity: 0.12; /* NEW */
    --text-pressed-opacity: 0.12; /* NEW */
    --text-disabled-opacity: 0.12; /* NEW */

    --success-color: #52461A;
    --error-color: #BA1A1A;

    --tableHeader-backgroundColor: #1A110F; /* NEW */ /* table-header */
    /*--table-body-background-color: transparent; !* NEW *! !* table-body *!*/
    --tableBody-backgroundColor: var(--base-background-color); /* NEW */ /* table-body */


    --button-text-color: var(--onSecondary-color);
    --button-text-disabled-color: var(--disabled-text-color);
    --button-text-backgroundColor: initial;
    --button-text-hover-backgroundColor: rgba(var(--secondary-color-nums), var(--text-hover-opacity));
    --button-text-focus-backgroundColor: rgba(var(--secondary-color-nums), var(--text-focus-opacity));
    --button-text-pressed-backgroundColor: rgba(var(--secondary-color-nums), var(--text-pressed-opacity));
    --button-text-disabled-backgroundColor: initial;

    --button-filled-color: var(--onPrimary-color);
    --button-filled-disabled-color: var(--disabled-text-color);
    --button-filled-backgroundColor: var(--primary-color);
    --button-filled-hover-backgroundColor: rgba(var(--primary-color-nums), var(--filled-hover-opacity));
    --button-filled-focus-backgroundColor: rgba(var(--primary-color-nums), var(--filled-focus-opacity));
    --button-filled-pressed-backgroundColor: rgba(var(--primary-color-nums), var(--filled-pressed-opacity));
    --button-filled-disabled-backgroundColor: rgba(var(--disabled-backgroundColor-nums), var(--text-disabled-opacity));
}




