/* Default to light mode */

:root {
    /* Light mode variables */
    --primary-color: #8F4C36;
    --on-primary-color: #FFF;
    --secondary-color: #53433F;
    --outline-color: rgba(133, 115, 110, 1);
    --outline-background-color: rgba(103, 80, 164, 0.12);

    --page-background-color: #FFF;
    --card-background-color: #FFF1ED;


    --state-active-background-color: #FFDBD0;
    --card-border-color: #85736E;
    --table-header-background-color: rgba(241, 223, 218, .5);
    --table-border-color: #F1DFDA;
    --dialog-background-color: #F7E4DF;
    --dropdown-background-color: #FCEAE5;

    --color-success: #F4E2A7;
    --color-error: #BA1A1A;
}

/* Switch to dark mode when .dark-mode class is present on body */
body.dark-mode {
    --primary-color: #FFB59D;
    --on-primary-color: #55200D;
    --secondary-color: #FFDBD0;
    --outline-color: rgba(160, 141, 135, 1);
    --outline-background-color: rgba(208, 188, 255, 0.12);
    --page-background-color: #1A110F;
    --card-background-color: #1A110F;
    --state-active-background-color: #5D4036;
    --card-border-color: #FFDBD0;
    --table-header-background-color: rgba(230, 224, 233, 0.12);
    --table-border-color: #53433F;
    --dialog-background-color: #1A110F;
    --dropdown-background-color: #271D1B;

    --color-success: #52461A;
    --color-error: #BA1A1A;
}


/* new variables */

/* Variable declaration principle*/
/* --[quality]-[object]-[?subject]-[?modification] */


:root {
    /* Light mode variables */
    --primary-color: #8F4C36;
    --on-primary-color: #FFFFFF;

    --secondary-color: #53433F;
    --on-secondary-color: #FFDBD0; /* NEW */

    /*--tertiary-color: #6A5E2F; !* NEW *!*/ /* not in use */
    /*--on-tertiary-color: #221B00FF; !* NEW *!*/ /* not in use */

    /*--outline-color: rgba(133, 115, 110, 1);*/ /* OLD renamed to border */
    /*--outline-background-color: rgba(103, 80, 164, 0.12);*/

    /*--page-background-color: #FFF;*/ /* OLD */
    /*--card-background-color: #FFF1ED;*/ /* OLD */

    --on-surface-text-color: #231917; /* NEW */ /* default color for every text in finmars */
    --on-surface-heading-color: #53433F; /* NEW */  /* h1-h6 */

    --surface-background-color: #FFFFFF; /* NEW */ /* body, page */
    --container-background-color: #F7E4DF; /* NEW */ /* dropdowns, menu */
    --container-low-background-color: #FFF1ED; /* NEW */ /* table-header */
    /*--container-lowest-background-color: #XXX; !* NEW *!*/  /* not in use */
    /*--container-high-background-color: #XXX; !* NEW *!*/  /* not in use */
    /*--container-highest-background-color: #XXX; !* NEW *!*/  /* not in use */


    /*--state-active-background-color: #FFDBD0;*/
    --active-state-background-color: #FFDBD0; /* NEW */
    --active-state-color: #2C160EFF; /* NEW */

    --on-container-state-active-background-color: #77574D; /* NEW */
    --on-container-state-active-color: #FFF; /* NEW */

    --border-color: #85736E; /* NEW */ /* button borders, segments, inputs, dividers  */
    --border-color-light: #D8C2BC; /* NEW */ /* cards, tables, */

    --hover-opacity: 0.92; /* NEW */
    --focus-opacity: 0.88; /* NEW */
    --disabled-opacity: 0.88; /* NEW */

    /*---card-border-color: #85736E;;*/   /* OLD */
    /* --table-header-background-color: rgba(241, 223, 218, .5); ;*/ /* OLD */
    /* --table-border-color: #F1DFDA; ;*/ /* OLD */
    /* --dialog-background-color: #F7E4DF; ;*/ /* OLD */
    /* --dropdown-background-color: #FCEAE5; ;*/ /* OLD */

    /*--color-success: #F4E2A7;*/ /* OLD */
    /*--color-error: #BA1A1A;*/ /* OLD */

    --success-color: #F4E2A7; /* NEW */
    --error-color: #BA1A1A; /* NEW */

}
