/* Default to light mode */

/*
s.zhitenev@finmars.com
2024-05-14
*/

/* General usage variables

 --[?special]-[?state]-[styleProperty]
 always kebab-case
 variable [segment] mast be camelCase
 [?segment] is optional
 [?special] - e.g. light, activeState, onPrimary
*/

/* Component specific variables

 --[component]-[?type]-[?state]-[styleProperty]
 always kebab-case for pieces of variable
 variable [segment] mast be camelCase
 [?segment] is optional

*/

/* Light mode variables */
:root {

    --primary-color: rgb(143, 76, 54);
    --onPrimary-color: rgb(255, 255, 255);

    --baseText-color: rgb(35, 25, 23); /* NEW */ /* default color for every text in finmars figma_keyword=surface */
    --base-heading-color: #53433F; /* NEW */ /* h1-h6 */
    --base-backgroundColor: #FFF8F6; /* NEW */ /* body, page */

    --container-background-color: #F7E4DF; /* NEW */ /* dropdowns, menu */
    --table-header-background-color: #FFF1ED; /* NEW */ /* table-header */

    --active-state-background-color: #FFDBD0; /* NEW */
    --active-state-color: #2C160E; /* NEW */

    --border-color: #85736E; /* NEW */ /* button borders, segments, inputs, dividers figma_keyword=outline  */
    --border-color-light: #D8C2BC; /* NEW */ /* cards, tables, */

    --hover-opacity: 0.92; /* NEW */
    --focus-opacity: 0.88; /* NEW */
    --disabled-opacity: 0.88; /* NEW */

    --success-color: #F4E2A7; /* NEW */
    --error-color: #BA1A1A; /* NEW */

    --button-disabled-opacity: 0.38;

    --button-text-color: rgb(143, 76, 54);
    --button-text-backgroundColor: initial;
    --button-text-state-backgroundColor-rgb: 103, 80, 164;
    --button-text-hover-backgroundColor: rgba(var(--button-text-state-backgroundColor-rgb), 0.08);
    --button-text-focus-backgroundColor: rgba(var(--button-text-state-backgroundColor-rgb), 0.12);
    --button-text-active-backgroundColor: rgba(var(--button-text-state-backgroundColor-rgb), 0.12);
    --button-text-disabled-color: var(--baseText-color);
    --button-text-disabled-backgroundColor: unset;

    --button-filled-color: var(--onPrimary-color);
    --button-filled-backgroundColor: var(--primary-color);
    --button-filled-hover-backgroundColor: rgba(143, 76, 54, 0.92);
    --button-filled-focus-backgroundColor: rgba(143, 76, 54, 0.88);
    --button-filled-active-backgroundColor: rgba(143, 76, 54, 0.88);
    --button-filled-disabled-color: var(--baseText-color);
    --button-filled-disabled-backgroundColor: rgba(29, 27, 32, 0.12);
    --secondary-color: #53433F;
    --card-background-color: #FFF1ED;
}

/* Switch to dark mode when .dark-mode class is present on body */
body.dark {

    --primary-color-rgb: 255, 181, 157;
    --primary-color: rgb(var(--primary-color-rgb));
    --onPrimary-color: rgb(85, 32, 13);
    --base-backgroundColor: rgba(26, 17, 15, 1);
    --baseText-color: rgb(241, 223, 218); /* NEW */ /* default color for every text in finmars */
    --baseHeading-color: #D8C2BC; /* NEW */ /* h1-h6 */
    --baseBackground-color: #1A110F; /* NEW */ /* body, page figma_keyword=surface */

    --container-backgroundColor: #271D1B; /* NEW */ /* dropdowns, menu */
    --activeState-backgroundColor: #5D4036; /* NEW */
    --activeState-color: #FFDBD0; /* NEW */

    --border-color: #A08D87; /* NEW */ /* button borders, segments, inputs, dividers  figma_keyword=outline */
    --border-color-light: #53433F; /* NEW */ /* cards, tables, figma_keyword=outline */

    --hover-opacity: 0.92; /* NEW */
    --hover-primary-color: rgba(255, 181, 157, var(--hover-opacity));
    --hover-primary-backgroundColor: rgba(255, 181, 157, var(--hover-opacity));

    --focus-opacity: 0.88; /* NEW */
    --disabled-opacity: 0.88; /* NEW */

    --success-color: #52461A;
    --error-color: rgb(186, 26, 26);

    --tableHeader-backgroundColor: #1A110F; /* NEW */ /* table-header */
    /*--table-body-background-color: transparent; !* NEW *! !* table-body *!*/
    --tableBody-backgroundColor: var(--base-backgroundColor); /* NEW */ /* table-body */


    --button-text-color: var(--primary-color);
    --button-text-backgroundColor: initial;
    --button-text-state-backgroundColor-rgb: 208, 188, 255;
    --button-text-hover-backgroundColor: rgba(var(--button-text-state-backgroundColor-rgb), 0.08);
    --button-text-focus-backgroundColor: rgba(var(--button-text-state-backgroundColor-rgb), 0.12);
    --button-text-pressed-backgroundColor: rgba(var(--button-text-state-backgroundColor-rgb), 0.12);
    --button-text-disabled-color: var(--baseText-color);
    --button-text-disabled-backgroundColor: unset;

    --button-filled-color: var(--onPrimary-color);
    --button-filled-backgroundColor: var(--primary-color);
    --button-filled-hover-backgroundColor: rgba(var(--primary-color-rgb), 0.92);
    --button-filled-focus-backgroundColor: rgba(var(--primary-color-rgb), 0.88);
    --button-filled-active-backgroundColor: rgba(var(--primary-color-rgb), 0.88);
    --button-filled-disabled-color: var(--baseText-color);
    --button-filled-disabled-backgroundColor: rgba(230, 224, 233, 0.50);

    --secondary-color: #FFDBD0;
    --card-background-color: #1A110F;
}




