/*# region vTooltip */
:root {
    --tooltip-fontSize: 0.75rem;
    --tooltip-fontFamily: var(--baseText-fontFamily);
    --tooltip-fontStyle: normal;
    --tooltip-fontWeight: 400;
    --tooltip-lineHeight: 1rem;
    --tooltip-letterSpacing: theme('letterSpacing.--tooltip-letterSpacing');

    --tooltip-color: rgba(255, 237, 232, 1);

    --tooltip-backgroundColor: rgba(57, 46, 43, 1);

    --tooltip-padding: 0.25rem 0.5rem;

    --tooltip-borderWidth: unset;
    --tooltip-borderStyle: unset;
    --tooltip-borderColor: unset;
    --tooltip-border: var(--tooltip-borderWidth) var(--tooltip-borderStyle) var(--tooltip-borderColor);
    --tooltip-borderRadius: 0.25rem;

    --tooltip-error-fontSize: var(--tooltip-fontSize);
    --tooltip-error-color: var(--tooltip-color);

    --tooltip-error-backgroundColor: var(--error-color);

    --tooltip-error-padding: var(--tooltip-padding);

    --tooltip-error-borderWidth: unset;
    --tooltip-error-borderStyle: unset;
    --tooltip-error-borderColor: unset;
    --tooltip-error-border: var(--tooltip-error-borderWidth) var(--tooltip-error-borderStyle) var(--tooltip-error-borderColor);

}

body.dark {
    --tooltip-color: rgba(57, 46, 43, 1);
    --tooltip-backgroundColor: rgba(255, 237, 232, 1);
}

.v-popper--theme-tooltip {
    .v-popper__wrapper {
        .v-popper__inner {
            font-family: theme('fontFamily.--tooltip-fontFamily');
            font-size: theme('fontSize.--tooltip-fontSize');
            font-style: normal;
            font-weight: 400;
            line-height: 1rem; /* 133.333% */
            letter-spacing: 0.025rem;

            padding: theme('padding.--tooltip-padding');
            border-radius: theme('borderRadius.--tooltip-borderRadius');
            color: theme('colors.--tooltip-color');
            background-color: theme('backgroundColor.--tooltip-backgroundColor');
            border: var(--tooltip-border);
        }
        .v-popper__arrow-outer {
            border: none;
        }
    }
}

.v-popper--theme-error-tooltip {
    .v-popper__wrapper {
        .v-popper__inner {
            padding: theme('padding.--tooltip-error-padding');

            color: theme('colors.--tooltip-error-color');
            background-color: theme('backgroundColor.--tooltip-error-backgroundColor');
            font-size: theme('fontSize.--tooltip-error-fontSize');
            border: var(--tooltip-error-border);
        }
    }

}
/*# endregion */
