:root {
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  
  --display-large-font: 400 57px/64px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --display-medium-font: 400 45px/52px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --display-small-font: 400 36px/44px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --headline-large-font: 400 32px/40px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --headline-medium-font: 400 28px/36px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --headline-small-font: 400 24px/32px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --title-large-font: 400 22px/28px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --title-medium-font: 500 16px/24px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --title-small-font: 500 14px/20px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --label-large-pro-font: 600 14px/20px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --label-large-font: 500 14px/20px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --label-medium-pro-font: 600 12px/16px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --label-small-font: 500 11px/16px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --body-large-pro-font: 600 16px/24px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --body-large-font: 400 16px/24px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --body-medium-pro-font: 600 14px/20px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --body-medium-font: 400 14px/20px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --body-small-font: 400 12px/16px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --number-large-pro-font: 600 16px/24px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --number-large-font: 400 16px/24px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --number-medium-pro-font: 600 14px/20px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --number-medium-font: 400 14px/20px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --number-small-font: 400 12px/16px system-ui, -apple-system, SFPro, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

  --white: #fff;
  --black: #000;
  --p-0: #000;
  --p-10: #390b00;
  --p-20: #5d1800;
  --p-30: #842500;
  --p-40: #ad3400;
  --p-50: #d54509;
  --p-60: #f85e26;
  --p-70: #ff8b65;
  --p-80: #ffb59d;
  --p-90: #ffdbd0;
  --p-95: #ffede8;
  --p-99: #ffdbfc;
  --p-100: #fff;
  --s-0: #000;
  --s-10: #331106;
  --s-20: #4d2518;
  --s-30: #683b2c;
  --s-40: #845242;
  --s-50: #a06a58;
  --s-60: #bd8370;
  --s-70: #d29b89;
  --s-80: #e3c3ba;
  --s-90: #f3dcd7;
  --s-95: #f8eeec;
  --s-99: #fdf9fa;
  --s-100: #fff;
  --t-0: #000;
  --t-10: #221b00;
  --t-20: #393005;
  --t-30: #51461a;
  --t-40: #6a5e2f;
  --t-50: #847745;
  --t-60: #9e905c;
  --t-70: #baab74;
  --t-80: #d6c68d;
  --t-90: #f3e2a7;
  --t-95: #fff0c1;
  --t-99: #fffbE9;
  --t-100: #fff;
  --e-0: #000;
  --e-10: #410002;
  --e-20: #690005;
  --e-30: #93000a;
  --e-40: #ba1a1a;
  --e-50: #de3730;
  --e-60: #ff5449;
  --e-70: #ff897d;
  --e-80: #ffb4ab;
  --e-90: #ffdad6;
  --e-95: #ffedea;
  --e-99: #fffbfb;
  --e-100: #fff;
  --n-0: #000;
  --n-4: #140c0a;
  --n-6: #1a110f;
  --n-10: #201a18;
  --n-12: #271d1b;
  --n-17: #322825;
  --n-20: #362f2d;
  --n-22: #3d322f;
  --n-30: #4d4543;
  --n-40: #655c5a;
  --n-50: #7f7572;
  --n-60: #998e8b;
  --n-70: #b4a9a6;
  --n-80: #d0c4c1;
  --n-90: #ede0dc;
  --n-92: #f7e4df;
  --n-94: #fceae5;
  --n-95: #fbeeea;
  --n-96: #fff1ed;
  --n-98: #fff8f6;
  --n-99: #fffbfc;
  --n-100: #fff;
  --nv-0: #000;
  --nv-10: #251915;
  --nv-20: #3b2d29;
  --nv-30: #53433f;
  --nv-40: #6b5b56;
  --nv-50: #85736e;
  --nv-60: #a08d87;
  --nv-70: #bca7a1;
  --nv-80: #d8c2bc;
  --nv-90: #f5ded7;
  --nv-95: #ffede8;
  --nv-99: #fffbfc;
  --nv-100: #fff;
  
  --v-theme-overlay-multiplier: 1;
  
  --go-0: #1d1b201f;
  --go-5: #1d192b;
  --go-6: #cac4d0;
  --go-10: #6750a41f;
  --go-20: #d0bcff1f;
  --go-30: #e6e0e91f;
}

.light-theme {
  --primary: var(--p-30);
  --secondary: var(--s-40);
  --tertiary: var(--t-40);
  --error: var(--e-40);
  --on-primary: var(--p-100);
  --on-secondary: var(--s-100);
  --on-tertiary: var(--t-100);
  --on-error: var(--e-100);
  --primary-container: var(--p-90);
  --secondary-container: var(--s-90);
  --tertiary-container: var(--t-90);
  --error-container: var(--e-90);
  --on-primary-container: var(--p-10);
  --on-secondary-container: var(--s-10);
  --on-tertiary-container: var(--t-10);
  --on-error-container: var(--e-10);
  --primary-fixed: var(--p-90);
  --primary-fixed-dim: var(--p-80);
  --secondary-fixed: var(--s-90);
  --secondary-fixed-dim: var(--s-80);
  --tertiary-fixed: var(--t-90);
  --tertiary-fixed-dim: var(--t-80);
  --on-primary-fixed: var(--p-10);
  --on-secondary-fixed: var(--s-10);
  --on-tertiary-fixed: var(--t-10);
  --on-primary-fixed-variant: var(--p-20);
  --on-secondary-fixed-variant: var(--s-30);
  --on-tertiary-fixed-variant: var(--t-30);
  --surface-dim: var(--n-98);
  --surface: var(--n-99);
  --surface-bright: var(--n-100);
  --inverse-surface: var(--n-20);
  --inverse-on-surface: var(--n-95);
  --inverse-primary: var(--p-80);
  --surface-container-lowest: var(--n-100);
  --surface-container-low: var(--n-96);
  --surface-container: var(--n-94);
  --surface-container-high: var(--n-92);
  --surface-container-highest: var(--n-90);
  --on-surface: var(--n-10);
  --on-surface-variant: var(--nv-30);
  --outline: var(--nv-50);
  --outline-variant: var(--nv-80);
  --on-active-primary: var(--go-0);
  --on-active-secondary: var(--go-10);
  --scrim: var(--n-0);
  --shadow: var(--n-0);
  --dataviz1: var(--p-80);
  --dataviz2: var(--p-70);
  --dataviz3: var(--p-60);
  --dataviz4: var(--p-50);
  --dataviz5: var(--p-40);
  --dataviz6: var(--p-30);
  --dataviz7: var(--p-20);
  --dataviz8: var(--t-40);
}

.dark-theme {
  --primary: var(--p-80);
  --secondary: var(--s-80);
  --tertiary: var(--t-80);
  --error: var(--e-80);
  --on-primary: var(--p-20);
  --on-secondary: var(--s-20);
  --on-tertiary: var(--t-20);
  --on-error: var(--e-20);
  --primary-container: var(--p-30);
  --secondary-container: var(--s-30);
  --tertiary-container: var(--t-30);
  --error-container: var(--e-30);
  --on-primary-container: var(--p-90);
  --on-secondary-container: var(--s-90);
  --on-tertiary-container: var(--t-90);
  --on-error-container: var(--e-90);
  --primary-fixed: var(--p-90);
  --primary-fixed-dim: var(--p-80);
  --secondary-fixed: var(--s-90);
  --secondary-fixed-dim: var(--s-80);
  --tertiary-fixed: var(--t-90);
  --tertiary-fixed-dim: var(--t-80);
  --on-primary-fixed: var(--p-10);
  --on-secondary-fixed: var(--s-10);
  --on-tertiary-fixed: var(--t-10);
  --on-primary-fixed-variant: var(--p-30);
  --on-secondary-fixed-variant: var(--s-30);
  --on-tertiary-fixed-variant: var(--t-30);
  --surface-dim: var(--n-6);
  --surface: var(--n-6);
  --surface-bright: var(--n-20);
  --inverse-surface: var(--n-90);
  --inverse-on-surface: var(--n-20);
  --inverse-primary: var(--p-40);
  --surface-container-lowest: var(--n-4);
  --surface-container-low: var(--n-10);
  --surface-container: var(--n-12);
  --surface-container-high: var(--n-17);
  --surface-container-highest: var(--n-22);
  --on-surface: var(--n-90);
  --on-surface-variant: var(--nv-80);
  --outline: var(--nv-60);
  --outline-variant: var(--nv-30);
  --on-active-primary: var(--go-30);
  --on-active-secondary: var(--go-20);
  --scrim: var(--n-0);
  --shadow: var(--n-0);
  --dataviz1: var(--p-20);
  --dataviz2: var(--p-30);
  --dataviz3: var(--p-40);
  --dataviz4: var(--p-50);
  --dataviz5: var(--p-60);
  --dataviz6: var(--p-70);
  --dataviz7: var(--p-80);
  --dataviz8: var(--t-60);
}
